---
import BaseLayout from "../../lib/layouts/BaseLayout.astro";
import Card from "../../lib/components/Card.astro";

import { getCollection } from "astro:content";
import { slugify, unslugify, filterPosts } from "../../lib/utils/helpers";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const filteredPosts = filterPosts(allPosts);

  const uniqueCategory = [
    ...new Set(filteredPosts.map((post) => slugify(post.data.category)).flat()),
  ] as string[];

  return uniqueCategory.map((category) => {
    const categoryPosts = filteredPosts.filter((post) =>
      slugify(post.data.category).includes(category)
    );

    return {
      params: { category },
      props: { posts: categoryPosts },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;

const title = `All the Posts related to ${unslugify(category)}`;
const description = `All the Posts related to ${unslugify(category)}`;
---

<BaseLayout {title} {description}>
  <div class="wrapper my-6">
    <h1 class="text-3xl lg:text-4xl mb-8 lg:mb-10">
      View all the posts on the topic of &nbsp; ' <span class="text-purple-900"
        >{unslugify(category)}</span
      > '
    </h1>

    <div class="card-container">
      {posts.map((post) => <Card {post} />)}
    </div>
  </div>
</BaseLayout>
