---
import { slugify } from "../utils/helpers";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import Date from "../components/Date.astro";
import Categories from "../components/Categories.astro";
import LatestPosts from "../components/LatestPosts.astro";

const { title, description, pubDate, category, tags, coverImage, coverAlt } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="wrapper my-6">
    <a
      href={`/category/${slugify(category)}`}
      class="tracking-wide font-bold uppercase text-lg text-purple-900 hover:text-purple-950 block mb-4"
      >{category}
    </a>
    <h1 class="font-semibold leading-[1.1] text-4xl lg:text-5xl">
      {title}
    </h1>

    <div class="flex items-center mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
        width="24"
        height="24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
        ></path>
      </svg>
      <Date
        date={pubDate}
        class="text-gray-900 tracking-wide block ml-1 text-lg"
      />
    </div>

    <Image
      src={coverImage}
      alt={coverAlt}
      width={1400}
      class="rounded shadow-md mt-4"
    />

    <div class="grid lg:grid-cols-4 gap-4 my-6">
      <article class="lg:col-span-3 overflow-hidden">
        <div class="typography">
          <slot />
        </div>
        <div class="flex flex-wrap gap-4 my-6">
          {
            tags.map((tag) => (
              <a href={`/tags/${tag}`}>
                <span class="bg-gray-300 hover:bg-gray-400 rounded-md font-medium p-2">
                  {tag}
                </span>
              </a>
            ))
          }
        </div>
      </article>
      <aside>
        <Categories />
        <LatestPosts />
      </aside>
    </div>
  </main>
</BaseLayout>
