---
import { Image } from "astro:assets";
import { slugify } from "../utils/helpers";

const { post } = Astro.props;
const { title, summary, category, coverImage, coverAlt } = post.data;
---

<article class="flex flex-col">
  <a href={`/blog/${post.slug}/`} class="rounded">
    <Image
      src={coverImage}
      alt={coverAlt}
      width={600}
      class="rounded shadow w-full h-72 object-cover bg-center"
    />
  </a>

  <a
    href={`/category/${slugify(category)}`}
    class="tracking-wide font-bold mt-4 mb-3 block text-purple-900 hover:text-purple-950"
    >{category.toUpperCase()}</a
  >

  <h2 class="text-2xl leading-tight mb-4 font-semibold heading">
    <a href={`/blog/${post.slug}/`}>{title}</a>
  </h2>
  <div>
    {summary}
  </div>
</article>
